* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F2F2F2;
}
@media screen and (min-width: 750px) {  /*宽于750像素  */
    aside {
        float: left;
        width: 250px;
        height: 100%;
        padding-left: 25px;
        background-color: #F2F2F2;
    }
    section {
        height: 100%;
        margin-left: 300px;
        padding: 0 20px;
        min-width:  300px;
        overflow: auto;
        background-color: #FFF;
    }
    #toggleMenu{
        display: none;
    }
}
@media screen and (max-width: 750px) {  /*窄于750像素 */
    aside {
        position: absolute;
        left: -275px;
        width: 250px;
        height: 100%;
        padding-left: 25px;
        background-color: #F2F2F2;
        transition: left 0.1s linear;
        z-index: 50;
    }
    section {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        min-width:  400px;
        background-color: #FFF;
        transition: left 0.1s linear;
        z-index: 5;
    }
    .menuSection{
        left: 275px;
    }
    #toggleMenu{
        display: block;
        float: left;
        height: 35px;
        width: 30px;
        margin:11px 10px;
        box-sizing: border;
    }
    #toggleMenu::before{
        content: "";
        display: block;
        width: 30px;
        height: 5px;
        padding: 10px 0;
        background-color: gray;
        border-top: solid 5px gray;
        border-bottom: solid 5px gray;
        background-clip: content-box;
    }
    .menuShow{
        left: 0;
    }
}
/* ÄÚÈÝÖ÷ÒªÇøÓò */
/*.main-wrap {*/
    /*position: relative;*/
    /*max-width: 980px;*/
    /*margin: 0 auto;*/
/*}*/

/* ×ó±ßÀ¸ */
.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-width: 500px;
    height: 100%;
}
.main-wrap {
    position: relative;
    min-width: 500px;
    height: 100%;
    margin: 0 auto;
}
h1 {
    height: 50px;
    border-bottom: solid 1px #BDBDBD;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 36px;
    background-color: #F2F2F2;
}
/* ×ó±ßÀ¸ÉÏ°ë²¿·Ö¹ýÂËÆ÷ */
.top-filters {
    margin-top: 35px;
    list-style-type: none;
    font-size: 0;
}
.top-filters li:hover {
    background-color: #FFF;
}
.top-filters li {
    padding: 5px 0;
    margin-bottom: 8px;
}
.top-filters li:hover {
    cursor: pointer;
    background-color: #FFF;
}
.top-filters li span {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    font-weight: bold;
}
.icon {
    display: inline-block;
    width: 22px;
    height: 20px;
    vertical-align: middle;
}
.inbox-icon {
    background: url(../img/inbox.png) no-repeat center;
    background-size: 22px 20px;
}
.today-icon {
    background: url(../img/today.png) no-repeat center;
    background-size: 22px 20px;
}
.days-icon {
    background: url(../img/days.png) no-repeat center;
    background-size: 22px 20px;
}
/* ×ó±ßÀ¸tab²Ëµ¥ */
.menu-tab {
    display: table;
    width: 100%;
    margin: 25px 0;
    text-align: center;
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    font-weight: bold;
    border-bottom: solid 1px #BDBDBD;
    list-style-type: none;
}
.menu-item {
    display: table-cell;
    text-align: left;
    padding: 0 5px 8px;
}
.menu-tab .active {
    border-bottom: solid 3px #BDBDBD;
}
/* ×ó±ßÀ¸ÏîÄ¿¿é */
.project-list-holder {

}
.project-list {
    list-style-type: none;
    font-size: 14px;
}
.project-list li {
    position: relative;
    padding: 10px 0;
}
.project-list li:hover {
    cursor: pointer;
}
.item-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #A8C8E4;
}
.project-list li span {
    margin-left: 10px;
}
/* Êó±êÒÆµ½liÉÏÒÔ¼°¸Ãli±»Ñ¡ÖÐÊ±£¬liÔö¼ÓactiveÀà */
.project-list li:hover {
    background-color: #FFF;
}
.active {
    background-color: #FFF; 
}
.project-list li del {
    display: none;
}
.project-list li:hover del {
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.project-list li:nth-child(odd) span::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: gray;
    margin-right: 5px;
}
.project-list li:nth-child(even) span::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: pink;
    margin-right: 5px;
}
.project-list li:hover::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 50%;
    margin-top: -5px;
    width: 9px;
    height: 10px;
    background: url(../img/drag.png) no-repeat center;
    background-size: 9px 10px;
}
#itemList li{
    transition: opacity 0.5s linear;
}
#taskList{
    list-style: none;
    border-top: solid 2px black;
}
#taskList li{
    margin-top: 10px;
}
#taskList li:first-child{
    margin-top: 20px;
}

#taskList li strong span{
    margin-right: 20px;
}
#taskList li strong input{
    border: 0;
    height: 24px;
}
#taskList li input:checked+strong{
    color: red;
    text-decoration: line-through;
}
#taskList li{
    transition: opacity 0.5s linear;
}
.divide{
    font-size: 24px;
    color: red;
}
/* Êó±êÒÆµ½liÉÏÊ±£¬ÔÚ</li>±êÇ©Ö®Ç°²åÈë
<div class="gear-menu-wrap">
    <span class="gear-menu-icon">¡­</span>
</div>
µã»÷Í¼±êÖ®ºó£¬³öÏÖgear-menu²Ëµ¥*/
.gear-menu-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    font-weight: normal;
    color: #B3B3B3;
}
.gear-menu-icon:hover {
    cursor: pointer;
    color: #000;
}
.gear-menu-wrap {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 5px;
    width: 150px;
}
.gear-menu {
    list-style-type: none;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    background-color: #FFF;
    border-radius: 5%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .5);
}
.gear-menu li {
    padding: 8px;
    margin: 2px;
}
.gear-menu li:hover {
    cursor: default;
    background-color: #555;
}
.gear-menu li:nth-child(2){
    border-bottom: solid 1px #DDD;
}
.gear-menu li:nth-child(3){
    border-bottom: solid 1px #DDD;
}
/* Ìí¼ÓÏîÄ¿ */
.add-wrap {
    margin-top: 20px;
    padding-left: 10px;
    color: #DD4B39;
    font-size: 14px;
}
.add-wrap:hover {
    cursor: pointer;
}
.add-wrap p{
    display: block;
    margin: 10px 0;
    overflow: hidden;
}
.add-wrap p span:hover {
    text-decoration: underline;
}
.add-wrap p span{
    float: left;
    margin-left: 10px;
}
.add {
    position: relative;
    display: inline-block;
    width: 2px;
    height: 10px;
    vertical-align: middle;
    background-color: #DD4B39;
}
.add::after {
    position: absolute;
    left: -4px;
    top: 4px;
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #DD4B39;
}
.add-wrap span {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
/* ×ó±ßÀ¸¹ýÂËÆ÷¿é */
.filter-list-holder {
    display: none;
}

.top-bar-wrap {
    height: 52px;
    background-color: #FFF;
    border-bottom: solid 1px #BDBDBD;
}
.top-bar-wrap form {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 250px;
    font-size: 0;
}
.search-icon {
    display: inline-block;
    width: 19px;
    height: 18px;
    vertical-align: middle;
    background: url(../img/search.png) no-repeat center;
    background-size: 19px 18px;
}
.top-bar-wrap input {
    display: inline-block;
    margin-left: 5px;
    height: 20px;
    vertical-align: middle;
    font-size: 13px;
    border-style: none;
}
.icons {
    float: right;
    height: 50px;
    line-height: 50px;
}
.icons .icon {
    margin: 10px;
}
.top-add {
    position: relative;
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #000;
}
.top-add::after {
    position: absolute;
    left: -6px;
    top: 6px;
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background-color: #000;
}
.notification {
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../img/notification.png) no-repeat center;
    background-size: 19px 20px;
}
.settings {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/settings.png) no-repeat center;
    background-size: 18px;
}
.icons .icon {
    cursor: pointer;
}
.content-wrap {
    padding: 35px 20px;
}
h2 {
    font-size: 18px;
    font-weight: normal;
}
input[type="text"]{
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    margin-top: 0;
}